.box {
  height: 150px;
  outline: 1px solid #fff;
  padding: 20px;
  width: 150px;
}

.box-red {
  background-color: red;
}

.box-blue {
  background-color: blue;
}

.box-black {
  background-color: black;
}