@import 'second';

$font-text-size: 18px;
$font-link-size: 14px;

nav {
  ul {
    list-style: none;
    margin: 5px;
    padding: 0;
    @include measure(100,50)
  }

  li {
    display: inline-block;
  }

  a {
    padding: 6px 12px;
    display: block;
    text-decoration: none;
    font-size: $font-link-size;
    @include color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.box {
  height: 150px;
  outline: 1px solid #fff;
  padding: 20px;
  width: 150px;

  &.box-red {
    @include background-color(red);
  }

  &.box-blue {
    @include background-color(blue);
  }

  &.box-black {
    @include background-color(black);
  }
}

